.alc{
    text-align: center;
}
.btncolor{
    background-color: #4E71A8;
    color:white;
}
.btncolor1{
    background-color: #CA4638;
    color:white;
}

.btncolor2{
    background-color:#A8EB12;
    color:white;
}
.signincolor {
    background-color: #40C8C3;
    color: white;
}
.colorsec{
    color:darkgray;
}
.logo{
    height: 100%;
    width:2em;
}
.logo img{
    height: 100%;
    width:100%;
}
